<application>
	<symbol_file_list>
		<abroad_list>
			<market_file>MRKT.cod</market_file>
			<pm_file>PMCODE.cod<pm_file>
			<jm_file>JMCODE.con<jm_file>
		<abroad_list>
	</symbol_file_list>
	<login_info>
		<id>yjs1974</id>
		<pwd>3753yang</pwd>
		<cert>#*sm1026jw</cert>
	</login_info>
</application>